.about-parent {
  display: flex;
  flex-direction: row-reverse; /* Reverse the direction to have text on the right and image on the left */
  justify-content: space-between;
  align-items: center;
}

.about-text {
  flex: 1;
  padding-left: 20px; /* Add some spacing between text and image */
}

.about-image {
  flex: 1;
  max-width: 100%; /* Ensure image doesn't exceed its container */
}

@media screen and (max-width: 800px) {
  .about-parent {
    flex-direction: column;
    padding: 0 20px 0 40px;
  }

  .about-text,
  .about-image {
    width: 100%;
  }

  .about-text {
    
    margin-bottom: -15rem;
  }

  
}
