.contact {
    background-color: #f76383;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .contact .home-wrapper {
    background-color: #f76383;
    height: 1024px;
    width: 1440px;
  }
  
  .contact .home {
    background-color: #7da7b4;
    height: 1024px;
    position: relative;
  }
  
  .contact .div {
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 291px;
  }
  
  .contact .overlap-group {
    height: 1024px;
    position: relative;
    width: 281px;
  }

  .overlap-group {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  /* Adjust padding/margin as needed */
  .text-wrapper {
    margin-right: 10px; /* Example margin */
  }
   
  
  .contact .rectangle {
    background-color: #ffebe0;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 262px;
  }
  
  .contact .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 122px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 746px;
    width: 159px;
  }
  
  .contact .text-wrapper-2 {
    color: #ff1569;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 880px;
    width: 159px;
  }
  
  .contact .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 122px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 612px;
    width: 108px;
  }
  
  .contact .vector {
    height: 48px;
    left: 17px;
    position: absolute;
    top: 192px;
    width: 51px;
  }
  
  .contact .text-wrapper-4 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 122px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 344px;
    width: 71px;
  }
  
  .contact .text-wrapper-5 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 122px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 478px;
    width: 73px;
  }
  
  .contact .social-icons {
    height: 48px !important;
    left: 107px !important;
    position: absolute !important;
    top: 192px !important;
    width: 51px !important;
  }
  
  .contact .home-svgrepo-com {
    height: 60px;
    left: 17px;
    position: absolute;
    top: 329px;
    width: 64px;
  }
  
  .contact .about-information {
    height: 60px;
    left: 17px;
    position: absolute;
    top: 469px;
    width: 64px;
  }
  
  .contact .portfolio-svgrepo {
    height: 60px;
    left: 17px;
    position: absolute;
    top: 590px;
    width: 64px;
  }
  
  .contact .education-svgrepo {
    height: 60px;
    left: 17px;
    position: absolute;
    top: 730px;
    width: 64px;
  }
  
  .contact .location-place-pin {
    height: 60px;
    left: 17px;
    position: absolute;
    top: 870px;
    width: 64px;
  }
  
  .contact .img {
    height: 48px;
    left: 194px;
    position: absolute;
    top: 191px;
    width: 55px;
  }
  
  .contact .element {
    height: 153px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 208px;
  }
  
  .contact .vector-2 {
    height: 8px;
    left: 13px;
    position: absolute;
    top: 990px;
    width: 7px;
  }
  
  .contact .vector-3 {
    height: 18px;
    left: 8px;
    position: absolute;
    top: 985px;
    width: 18px;
  }
  
  .contact .contact-form {
    height: 693px;
    left: 331px;
    position: absolute;
    top: 277px;
    width: 850px;
  }
  
  .contact .button {
    all: unset;
    box-sizing: border-box;
    height: 48px;
    left: 299px;
    position: absolute;
    top: 645px;
    width: 268px;
  }
  
  .contact .div-wrapper {
    background-color: #ff1569;
    border-radius: 40px;
    height: 48px;
    position: relative;
    width: 266px;
  }
  
  .contact .text-wrapper-6 {
    color: #fffbfb;
    font-family: "Chivo", Helvetica;
    font-size: 32px;
    font-weight: 900;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 234px;
  }
  
  .contact .message {
    height: 304px;
    left: 0;
    position: absolute;
    top: 306px;
    width: 852px;
  }
  
  .contact .overlap {
    background-image: url(https://cdn.animaapp.com/projects/65c1f19fe83795b5da57d4a2/releases/65c1f95a886b7f388e40c1d9/img/rectangle-5.svg);
    background-size: 100% 100%;
    height: 304px;
    position: relative;
    width: 850px;
  }
  
  .contact .text-wrapper-7 {
    color: #ffffff;
    font-family: var(--labels-font-family);
    font-size: var(--labels-font-size);
    font-style: var(--labels-font-style);
    font-weight: var(--labels-font-weight);
    left: 250px;
    letter-spacing: var(--labels-letter-spacing);
    line-height: var(--labels-line-height);
    position: absolute;
    text-align: center;
    top: 7px;
    width: 367px;
  }
  
  .contact .subject {
    height: 86px;
    left: 0;
    position: absolute;
    top: 147px;
    width: 850px;
  }
  
  .contact .overlap-2 {
    height: 86px;
    position: relative;
    width: 848px;
  }
  
  .contact .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 27px;
    height: 85px;
    left: 0;
    position: absolute;
    top: 0;
    width: 848px;
  }
  
  .contact .text-wrapper-8 {
    color: #ffffff;
    font-family: var(--labels-font-family);
    font-size: var(--labels-font-size);
    font-style: var(--labels-font-style);
    font-weight: var(--labels-font-weight);
    left: 248px;
    letter-spacing: var(--labels-letter-spacing);
    line-height: var(--labels-line-height);
    position: absolute;
    text-align: center;
    top: 17px;
    width: 350px;
  }
  
  .contact .email {
    height: 69px;
    left: 451px;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .contact .overlap-3 {
    background-color: #d9d9d9;
    border-radius: 22px;
    height: 69px;
    position: relative;
    width: 391px;
  }
  
  .contact .text-wrapper-9 {
    color: #ffffff;
    font-family: var(--labels-font-family);
    font-size: var(--labels-font-size);
    font-style: var(--labels-font-style);
    font-weight: var(--labels-font-weight);
    left: 70px;
    letter-spacing: var(--labels-letter-spacing);
    line-height: var(--labels-line-height);
    position: absolute;
    text-align: center;
    top: 7px;
    white-space: nowrap;
    width: 238px;
  }
  
  .contact .name {
    height: 69px;
    left: 0;
    position: absolute;
    top: 0;
    width: 399px;
  }
  
  .contact .overlap-4 {
    background-image: url(https://cdn.animaapp.com/projects/65c1f19fe83795b5da57d4a2/releases/65c1f95a886b7f388e40c1d9/img/rectangle-2.svg);
    background-size: 100% 100%;
    height: 69px;
    position: relative;
    width: 397px;
  }
  
  .contact .text-wrapper-10 {
    color: #ffffff;
    font-family: var(--labels-font-family);
    font-size: var(--labels-font-size);
    font-style: var(--labels-font-style);
    font-weight: var(--labels-font-weight);
    left: 94px;
    letter-spacing: var(--labels-letter-spacing);
    line-height: var(--labels-line-height);
    position: absolute;
    text-align: center;
    top: 2px;
    width: 210px;
  }
  
  .contact .leave-me-a-message {
    height: 104px;
    left: 431px;
    position: absolute;
    top: 75px;
    width: 756px;
  }
  
  .contact .vector-4 {
    height: 60px;
    left: 1296px;
    position: absolute;
    top: 569px;
    width: 74px;
  }
  
  .contact .vector-5 {
    height: 61px;
    left: 1296px;
    position: absolute;
    top: 685px;
    width: 72px;
  }
  
  .contact .vector-6 {
    height: 54px;
    left: 1294px;
    position: absolute;
    top: 816px;
    width: 67px;
  }
  