.about {
    background-color: #7da7b4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .about .overlap-wrapper {
    background-color: #7da7b4;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .about .overlap {
    height: 1024px;
    left: -7px;
    position: relative;
    width: 1447px;
  }
  
  .about .hello {
    color: transparent;
    font-family: "Chivo", Helvetica;
    font-size: 64px;
    font-weight: 900;
    left: 366px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 216px;
  }
  
  .about .text-wrapper {
    color: #ffebe0;
  }
  
  .about .span {
    color: #ffffff;
  }
  
  .about .i-m-tshepiso {
    color: transparent;
    font-family: "Caladea", Helvetica;
    font-size: 64px;
    font-weight: 700;
    left: 454px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 92px;
    white-space: nowrap;
    width: 469px;
  }
  
  .about .text-wrapper-2 {
    color: #fe8bb2;
  }
  
  .about .i-m-passionate-about {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 553px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 174px;
    width: 880px;
  }
  
  .about .overlap-group {
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1447px;
  }
  
  .about .div {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 64px;
    font-weight: 700;
    left: 422px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 535px;
    white-space: nowrap;
    width: 399px;
  }
  
  .about .text-wrapper-3 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 1147px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 649px;
    white-space: nowrap;
    width: 285px;
  }
  
  .about .line {
    height: 530px;
    left: 308px;
    position: absolute;
    top: 494px;
    width: 1139px;
  }
  
  .about .star {
    height: 39px;
    left: 328px;
    position: absolute;
    top: 630px;
    width: 38px;
  }
  
  .about .img {
    height: 39px;
    left: 328px;
    position: absolute;
    top: 839px;
    width: 38px;
  }
  
  .about .star-2 {
    height: 39px;
    left: 328px;
    position: absolute;
    top: 767px;
    width: 38px;
  }
  
  .about .star-3 {
    height: 39px;
    left: 328px;
    position: absolute;
    top: 695px;
    width: 38px;
  }
  
  .about .AWS-certified-cloud {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 429px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 629px;
    white-space: nowrap;
  }
  
  .about .text-wrapper-4 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 422px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 694px;
    white-space: nowrap;
  }
  
  .about .text-wrapper-5 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 408px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 768px;
    white-space: nowrap;
  }
  
  .about .text-wrapper-6 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 410px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 851px;
    white-space: nowrap;
  }
  
  .about .ellipse {
    background-color: #ffebe0;
    border-radius: 18.5px/19px;
    height: 38px;
    left: 976px;
    position: absolute;
    top: 733px;
    width: 37px;
  }
  
  .about .ellipse-2 {
    background-color: #ffebe0;
    border-radius: 18.5px/19px;
    height: 38px;
    left: 764px;
    position: absolute;
    top: 852px;
    width: 37px;
  }
  
  .about .text-wrapper-7 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 846px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 856px;
    white-space: nowrap;
  }
  
  .about .ellipse-3 {
    background-color: #ffebe0;
    border-radius: 79.5px/17px;
    height: 34px;
    left: 835px;
    position: absolute;
    top: 802px;
    width: 159px;
  }
  
  .about .ellipse-4 {
    background-color: #ffebe0;
    border-radius: 80px/16px;
    height: 32px;
    left: 595px;
    position: absolute;
    top: 925px;
    width: 160px;
  }
  
  .about .a-full-stack {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 779px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 918px;
    width: 573px;
  }
  
  .about .text-wrapper-8 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 976px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 801px;
    width: 376px;
  }
  
  .about .text-wrapper-9 {
    color: #101010;
    font-family: "Dancing Script", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 891px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 803px;
  }
  
  .about .text-wrapper-10 {
    color: #0e0e0e;
    font-family: "Dancing Script", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 609px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 927px;
  }
  
  .about .rectangle {
    background: linear-gradient(180deg, rgba(255, 207.59, 151.94, 0.81) 0%, rgba(217, 217, 217, 0) 100%);
    height: 68px;
    left: 302px;
    position: absolute;
    top: 425px;
    width: 1145px;
  }
  
  .about .button {
    all: unset;
    box-sizing: border-box;
    height: 42px;
    left: 505px;
    position: absolute;
    top: 438px;
    width: 257px;
  }
  
  .about .div-wrapper {
    background-color: #ff1569;
    border-radius: 40px;
    height: 42px;
    position: relative;
    width: 255px;
  }
  
  .about .text-wrapper-11 {
    color: #fffbfb;
    font-family: "Chivo", Helvetica;
    font-size: 32px;
    font-weight: 900;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 224px;
  }
  
  .about .group {
    height: 42px;
    left: 1102px;
    position: absolute;
    top: 438px;
    width: 226px;
  }
  
  .about .overlap-group-wrapper {
    all: unset;
    box-sizing: border-box;
    height: 42px;
    width: 228px;
  }
  
  .about .overlap-group-2 {
    background-color: #ff1569;
    border-radius: 40px;
    height: 42px;
    position: relative;
    width: 226px;
  }
  
  .about .text-wrapper-12 {
    color: #fffbfb;
    font-family: "Chivo", Helvetica;
    font-size: 32px;
    font-weight: 900;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 198px;
  }
  
  .about .text-wrapper-13 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 1065px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 737px;
    white-space: nowrap;
  }
  
  .about .nav-bar {
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 330px;
  }
  
  .about .overlap-2 {
    height: 1024px;
    position: relative;
    width: 318px;
  }
  
  .about .rectangle-2 {
    background-color: #ffebe0;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 296px;
  }
  
  .about .text-wrapper-14 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 746px;
    width: 159px;
  }
  
  .about .text-wrapper-15 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 155px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 880px;
    width: 159px;
  }
  
  .about .text-wrapper-16 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 612px;
    width: 108px;
  }
  
  .about .vector {
    height: 48px;
    left: 81px;
    position: absolute;
    top: 203px;
    width: 51px;
  }
  
  .about .text-wrapper-17 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-decoration: underline;
    top: 344px;
    width: 71px;
  }
  
  .about .text-wrapper-18 {
    color: #ff1569;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 478px;
    width: 73px;
  }
  
  .about .social-icons {
    height: 48px !important;
    left: 197px !important;
    position: absolute !important;
    top: 203px !important;
    width: 51px !important;
  }
  
  .about .home-svgrepo-com {
    height: 60px;
    left: 54px;
    position: absolute;
    top: 329px;
    width: 64px;
  }
  
  .about .about-information {
    height: 60px;
    left: 54px;
    position: absolute;
    top: 469px;
    width: 64px;
  }
  
  .about .portfolio-svgrepo {
    height: 60px;
    left: 54px;
    position: absolute;
    top: 590px;
    width: 64px;
  }
  
  .about .education-svgrepo {
    height: 60px;
    left: 54px;
    position: absolute;
    top: 730px;
    width: 64px;
  }
  
  .about .location-place-pin {
    height: 60px;
    left: 54px;
    position: absolute;
    top: 870px;
    width: 64px;
  }
  
  .about .vector-2 {
    height: 8px;
    left: 28px;
    position: absolute;
    top: 983px;
    width: 7px;
  }
  
  .about .vector-3 {
    height: 18px;
    left: 23px;
    position: absolute;
    top: 978px;
    width: 18px;
  }
  
  .about .p {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 49px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 975px;
    width: 230px;
  }
  
  .about .element {
    height: 141px;
    left: 63px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 184px;
  }
  