.home {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}.home .overlap-group {
  height: 100vh;
  width: auto;
}
.home .home-elements {
  height: 1024px;
  left: 275px;
  position: absolute;
  top: 0;
  width: 1241px;
  background-color: #7da7b4;
}
