.index {
    background-color: #7da7b4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #7da7b4;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .index .hello {
    color: transparent;
    font-family: "Chivo", Helvetica;
    font-size: 64px;
    font-weight: 900;
    left: 359px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 216px;
  }
  
  .index .text-wrapper {
    color: #ffebe0;
  }
  
  .index .span {
    color: #ffffff;
  }
  
  .index .i-m-tshepiso {
    color: transparent;
    font-family: "Caladea", Helvetica;
    font-size: 64px;
    font-weight: 700;
    left: 447px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 92px;
    white-space: nowrap;
    width: 469px;
  }
  
  .index .text-wrapper-2 {
    color: #fe8bb2;
  }
  
  .index .i-m-passionate-about {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 546px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 174px;
    width: 880px;
  }
  
  .index .overlap {
    
    left: 301px;
    position: absolute;
    
    width: 1139px;
  }


  
  .index .text-wrapper-3 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 64px;
    font-weight: 700;
    left: 114px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    width: 399px;
  }
  
  .index .text-wrapper-4 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 839px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 155px;
    white-space: nowrap;
    width: 285px;
  }
  
  .index .line {
    height: 530px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1139px;
  }
  
  .index .star {
    height: 39px;
    left: 20px;
    position: absolute;
    top: 136px;
    width: 38px;
  }
  
  .index .img {
    height: 39px;
    left: 20px;
    position: absolute;
    top: 345px;
    width: 38px;
  }
  
  .index .star-2 {
    height: 39px;
    left: 20px;
    position: absolute;
    top: 273px;
    width: 38px;
  }
  
  .index .star-3 {
    height: 39px;
    left: 20px;
    position: absolute;
    top: 201px;
    width: 38px;
  }
  
  .index .AWS-certified-cloud {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 121px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 135px;
    white-space: nowrap;
  }
  
  .index .text-wrapper-5 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 114px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 200px;
    white-space: nowrap;
  }
  
  .index .text-wrapper-6 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 274px;
    white-space: nowrap;
  }
  
  .index .text-wrapper-7 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 357px;
    white-space: nowrap;
  }
  
  .index .ellipse {
    background-color: #ffebe0;
    border-radius: 18.5px/19px;
    height: 38px;
    left: 668px;
    position: absolute;
    top: 239px;
    width: 37px;
  }
  
  .index .ellipse-2 {
    background-color: #ffebe0;
    border-radius: 18.5px/19px;
    height: 38px;
    left: 456px;
    position: absolute;
    top: 358px;
    width: 37px;
  }
  
  .index .text-wrapper-8 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 538px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 362px;
    white-space: nowrap;
  }
  
  .index .ellipse-3 {
    background-color: #ffebe0;
    border-radius: 79.5px/17px;
    height: 34px;
    left: 527px;
    position: absolute;
    top: 308px;
    width: 159px;
  }
  
  .index .ellipse-4 {
    background-color: #ffebe0;
    border-radius: 80px/16px;
    height: 32px;
    left: 287px;
    position: absolute;
    top: 431px;
    width: 160px;
  }
  
  .index .a-full-stack {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 471px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 424px;
    width: 573px;
  }
  
  .index .text-wrapper-9 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 668px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 307px;
    width: 376px;
  }
  
  .index .text-wrapper-10 {
    color: #101010;
    font-family: "Dancing Script", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 583px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 309px;
  }
  
  .index .text-wrapper-11 {
    color: #0e0e0e;
    font-family: "Dancing Script", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 301px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 433px;
  }
  
  .index .text-wrapper-12 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 757px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 243px;
    white-space: nowrap;
  }
  
  .index .overlap-group {
    background: linear-gradient(180deg, rgba(255, 207.59, 151.94, 0.81) 0%, rgba(217, 217, 217, 0) 100%);
    height: 68px;
    left: 295px;
    position: absolute;
    top: 450px;
    width: 1215px;
  }
  
  .index .button {
    all: unset;
    box-sizing: border-box;
    height: 42px;
    left: 203px;
    position: absolute;
    top: 13px;
    width: 300px;
  }
  
  .index .div-wrapper {
    background-color: #ff1569;
    border-radius: 40px;
    height: 42px;
    position: relative;
    width: 300px;
  }
  
  .index .text-wrapper-13 {
    color: #fffbfb;
    font-family: "Chivo", Helvetica;
    font-size: 32px;
    font-weight: 900;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 280px;
  }
  
  .index .group {
    height: 42px;
    left: 800px;
    position: absolute;
    top: 13px;
    width: 226px;
  }
  
  .index .overlap-group-wrapper {
    all: unset;
    box-sizing: border-box;
    height: 42px;
    width: 228px;
  }
  
  .index .overlap-group-2 {
    background-color: #ff1569;
    border-radius: 40px;
    height: 42px;
    position: relative;
    width: 250px;
  }
  
  .index .text-wrapper-14 {
    color: #fffbfb;
    font-family: "Chivo", Helvetica;
    font-size: 32px;
    font-weight: 900;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 230px;
  }
  