.index {
  background-color: #7da7b4;
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center; /* Center align items horizontally */
  width: 100%;
  padding-bottom: 20px; /* Add some bottom padding */
}
  
  .index .div {
    background-color: #7da7b4;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .index .overlap {
    position: relative;
    width: 100%;
    max-width: 1139px; /* Set maximum width */
    margin: 0 auto; /* Center align */
  }
  
  .index .text-wrapper-3,
  .index .text-wrapper-4 {
    color: #ffffff;
    font-family: "Caladea", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: relative; /* Change position to relative */
  text-align: center; /* Center align text */
  margin-bottom: 20px; /* Add some bottom margin */
    white-space: nowrap;
    width: 285px;
  }

  .index .text-wrapper-4 {
    left: 839px;
  }
  
  /* Other shared styles... */
  