.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .hero-text {
    text-align: center;
    padding-left: 280px;
  }
  
  .hero-image img {
    width: 500px; /* Adjust the width as needed */
    height: auto;
  }
  